.container-fluid {
  padding: 0;
}

.navbar {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 40px;
}

h1 {
  color: cadetblue;
}

footer {
  background-color: cadetblue;
  height: 300px;
  border-top: 2px solid #fff;
}

footer p {
  color: #fff;
  text-align: center;
  top: 50%;
  position: relative;
}
