.container-fluid {
  padding: 0;
  font-family: "jua";
  margin-top: 53px;
}

.navbar {
  border-bottom: 1px solid #fff;
  width: 100vw;
  position: fixed;
  top: 0;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 40px;
}

.container-task {
  max-height: 73vh;
  overflow-y: scroll;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

a {
  text-decoration: none;
  color: cadetblue;
}

a .fa-trash-can {
  color: rgb(250, 118, 118);
}

a .fa-edit {
  color: rgb(67, 89, 187);
}

.done a .fa-square-check {
  color: rgb(61, 138, 51);
}

h1 {
  color: cadetblue;
  margin-top: 16px;
  margin-bottom: 8px;
}

.dashboard {
  padding: 16px;
  width: 375px;
  height: auto;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  background-color: cadetblue;
  border-radius: 8px;
}

.dashboard h4 {
  font-size: 16px;
}

.dashboard span {
  font-size: 24px;
}

.dashboard-box {
  border-radius: 8px;
  padding: 4px;
  background-color: #fff;
  color: cadetblue;
  text-align: center;
  height: 110px;
}

#dashboard-lastdays {
  background-color: rgb(206, 207, 255);
}

#dashboard-done {
  background-color: rgb(192, 250, 185);
}

#dashboard-doing {
  background-color: rgb(253, 201, 201);
}

.add-search {
  display: flex;
  gap: 8px;
}

button {
  width: 96px;
  height: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 8px;
  border: transparent;
  background-color: cadetblue;

  color: #fff;
  font-size: 16px;
}

button:hover {
  background-color: #64c3cc;
}

form {
  display: flex;
  gap: 4px;
}

input {
  width: 233px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #64c3cc;
  padding: 8px;
  outline: none;
  font-size: 16px;
}

.search-btn {
  width: 35px;
}

.filter-div {
  color: cadetblue;
  padding: 8px;
  width: 250px;
  height: auto;
}

select {
  color: cadetblue;
}

select option {
  color: cadetblue;
}

.task-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 8px;
}

.task {
  list-style: none;
  font-size: 16px;
  width: 300px;
  height: 50px;
  padding: 16px;
  border: 1px solid cadetblue;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task.done {
  background-color: #f2f2f2;
}

.fa-regular {
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  float: right;
}

footer {
  width: 100vw;
  height: 150px;

  position: fixed;
  bottom: 0px;

  border-top: 2px solid #fff;
  background-color: cadetblue;
}

footer p {
  color: #fff;
  text-align: center;
  top: 40%;
  position: relative;
}

ul.messages {
  padding: 0;
}

ul.messages li {
  list-style: none;
}
