{% extends 'base.html' %}
<br />
{% block title %}Tarefas{% endblock %}
<br />
{% block content %}
<div class="container-task">
  <h1>Task List</h1>
  <div class="add-search">
    <button>
      Add Task
      <i class="fa-solid fa-circle-plus"></i>
    </button>
    <input
      type="text"
      name="search"
      placeholder="Task name... ex: wash the dishes"
    />
    <button class="button-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <ul class="task-list">
    <li class="task">
      <span>Title</span>
      <span> <i class="fa-regular fa-trash-can"></i> </span>
      <span> <i class="fa-regular fa-edit"></i> </span>
    </li>
    <li class="task">
      <span>Title</span>
      <span> <i class="fa-regular fa-trash-can"></i> </span>
      <span> <i class="fa-regular fa-edit"></i> </span>
    </li>
    <li class="task">
      <span>Title</span>
      <span> <i class="fa-regular fa-trash-can"></i> </span>
      <span> <i class="fa-regular fa-edit"></i> </span>
    </li>
  </ul>
</div>
{% endblock %}
