{% extends 'base.html' %}
<br />
{% block title %}
  Taks
{% endblock %}
<br />
{% block content %}
  <div class="container-task">
    <h1>Task List</h1>
    <div class="dashboard">
      <div class="col-4 dashboard-box" id="dashboard-lastdays" >
        <h4>Completed - last 30 days</h4>
        <span>{{ tasksDoneRecently }}</span>
      </div>
      <div class="col-4 dashboard-box" id="dashboard-done" >
        <h4>Tasks completed</h4>
        <span>{{ tasksDone }}</span>
      </div>
      <div class="col-4 dashboard-box" id="dashboard-doing" >
        <h4>Tasks to complete</h4>
        <span>{{ tasksDoing }}</span>
      </div>
    </div>
    <div class="add-search">
      <a href="newtask/">
        <button>
          Add Task
          <i class="fa-solid fa-circle-plus"></i>
        </button>
      </a>
      <form method="GET" id="search-form">
        <input type="text" name="search" placeholder="Task name... ex: wash the dishes" />
        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="col-12 filter-div">
      <span>Filter by:</span>
      <select name="filter" id="filter" class="form-control" style="color: cadetblue;">
        <option value="">Choose a option</option>
        <option value="True">Done</option>
        <option value="False">Doing</option>
      </select>
    </div>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <ul class="task-list">
      {% for task in tasks %}
      {% if task.done == False %}
        <li class="task">
      {% else %}
        <li class="task done">
          {% endif %}
          <span><a href="/task/{{ task.id }}">{{ task.title }}</a></span>
          <div>
            <a href="status/{{ task.id }}"><span><i class="fa-regular fa-square-check"></i></span></a>
            <a href="edit/{{ task.id }}"><span><i class="fa-regular fa-edit"></i></span></a>
            <a href="delete/{{ task.id }}" class="delete-btn" ><span><i class="fa-regular fa-trash-can"></i></span></a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="pagination">
      <span class="step-links">
        {% if tasks.has_previous %}
          <a href="?page={{tasks.previous_page_number}}">
            <i class="fa-regular fa-circle-left"></i>
          </a>
        {% endif %}
      </span>
      <span class="current">
        {% if tasks.paginator.num_pages %}
          {{tasks.number}} of {{tasks.paginator.num_pages}}
        {% endif %}
      </span>
      <span class="step-links">
        {% if tasks.has_next %}
          <a href="?page={{tasks.next_page_number}}">
            <i class="fa-regular fa-circle-right"></i>
          </a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
